@model BpkbViewModel

<style>
	.form-group {
		margin-bottom: 0.5em;
	}

	.form-control {
		margin-top: 0.25em;
	}
</style>

<form asp-action="CreateBpkb" method="post">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label asp-for="AgreementNumber">Agreement Number</label>
				<input asp-for="AgreementNumber" class="form-control" />
				<span asp-validation-for="AgreementNumber" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="BpkbNo">BPKB No</label>
				<input asp-for="BpkbNo" class="form-control" />
				<span asp-validation-for="BpkbNo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="BranchId">Branch ID</label>
				<input asp-for="BranchId" class="form-control" />
				<span asp-validation-for="BranchId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="BpkbDate">BPKB Date</label>
				<input asp-for="BpkbDate" type="date" class="form-control" />
				<span asp-validation-for="BpkbDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FakturNo">Faktur No</label>
				<input asp-for="FakturNo" class="form-control" />
				<span asp-validation-for="FakturNo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FakturDate">Faktur Date</label>
				<input asp-for="FakturDate" type="date" class="form-control" />
				<span asp-validation-for="FakturDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LocationId">Location ID</label>
				<input asp-for="LocationId" class="form-control" />
				<span asp-validation-for="LocationId" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label asp-for="PoliceNo">Police No</label>
				<input asp-for="PoliceNo" class="form-control" />
				<span asp-validation-for="PoliceNo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="BpkbDateIn">BPKB Date In</label>
				<input asp-for="BpkbDateIn" type="date" class="form-control" />
				<span asp-validation-for="BpkbDateIn" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CreatedBy">Created By</label>
				<input asp-for="CreatedBy" class="form-control" />
				<span asp-validation-for="CreatedBy" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CreatedOn">Created On</label>
				<input asp-for="CreatedOn" type="date" class="form-control" />
				<span asp-validation-for="CreatedOn" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LastUpdatedBy">Last Updated By</label>
				<input asp-for="LastUpdatedBy" class="form-control" />
				<span asp-validation-for="LastUpdatedBy" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LastUpdatedOn">Last Updated On</label>
				<input asp-for="LastUpdatedOn" type="date" class="form-control" />
				<span asp-validation-for="LastUpdatedOn" class="text-danger"></span>
			</div>
		</div>
	</div>
	<button style="margin-top: 0.5em;" type="submit" class="btn btn-primary">Submit</button>
</form>